{% extends "employe/base.html" %}

{% block content %}

    <form method="POST" class="space-y-4 flex flex-col justify-center items-center">
        <span class="text-center">Etes-Vous sur de vouloir supprimer <strong>{{employe.nom}} {{employe.prenom}}</strong></span>
        {% csrf_token %}
       
        <button type="submit" class="btn btn-primary rounded-3xl w-70">Oui, Supprimer</button>
         <a href="{% url 'liste_employes' %}" class="btn btn-secondary w-70 rounded-3xl">Annuler</a>
    </form>

{% endblock %}